<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Interactive Sign Up Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
 <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
 <link rel="stylesheet" href="style.css">

 <script>
 </script>
  </head>
<body>
  <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <div class="back"></div>
  <div class="registration-form">
      <header>
          <h1 >We have 7 short questions</h1>
          <p>Then we'll match you with the best schools near you!</p>
      </header>
      <form action='/quiz' method='post'>
          <div class="input-section address-section">
            <input class="address" name="address" type="text" placeholder="Where do you live?" autocomplete="off"/>
            <div class="animated-button">
              <span class="icon-paper-plane">
                <i class="fa fa-home">
                </i>
              </span>
              <span class="next-button address">
                <i class="fa fa-arrow-up">
                </i>
              </span>
            </div>
          </div>

          <div class="input-section level-section folded">
            <select class="level" name="schoolLevel">
              <option id="q2" value="start">Where's your awesome child heading?</option>
              <option value="elementary">Elementary School</option>
              <option value="middleSchool">Middle School</option>
              <option value="highSchool">High School</option>
            </select>

            <div class="animated-button">
              <span class="icon-lock">
                <i class="fa fa-lock">
                </i>
              </span>
              <span class="next-button level">
                <i class="fa fa-arrow-up">
                </i>
              </span>
            </div>


          </div>
          <div class="input-section distance-section folded">
            <input id="q3" class="distance" name="distancePreference" type="number" min="0" max="5" style= "width: 450px;" placeholder="How important is a short commute?" />
            <div class="animated-button">
              <span class="icon-distance-lock">
                <i class="fa fa-lock">
                </i>
              </span>
              <span class="next-button distance">
                <i class="fa fa-paper-plane">
                </i>
              </span>
            </div>
          </div>
          <div class="input-section performance-section folded">
            <input class="performance" name="academicPreference" type="number" min="0" max="5"  style= "width: 580px;" placeholder="How important is academic performance?" />
            <div class="animated-button">
              <span class="icon-performance-lock">
                <i class="fa fa-lock">
                </i>
              </span>
              <span class="next-button performance">
                <i class="fa fa-paper-plane">
                </i>
              </span>
            </div>
          </div>
          <div class="input-section programs-section folded">
            <input class="programs" name="programPreference" type="number" min="0" max="5"  style= "width: 790px;" placeholder="How important are afterschool programs?" />
            <div class="animated-button">
              <span class="icon-programs-lock">
                <i class="fa fa-lock">
                </i>
              </span>
              <span class="next-button programs">
                <i class="fa fa-paper-plane">
                </i>
              </span>
            </div>
          </div>
          <div class="input-section languages-section folded">
            <input class="languages" name="languagePreference" type="number" min="0" max="5" style= "width: 1090px;" placeholder="How important are language programs?" />
            <div class="animated-button">
              <span class="icon-languages-lock">
                <i class="fa fa-lock">
                </i>
              </span>
              <span class="next-button languages">
                <i class="fa fa-paper-plane">
                </i>
              </span>
            </div>
          </div>
          <div class="input-section languageSelection-section folded">
            <div class="langBoxes">
              <input type="checkbox" style = "display: inline-block; width: 15px; vertical-align: top;" class="lang" name="languages" value="Spanish"><span style = "display: inline-block; color: black;">Spanish</span></input>
              <input type="checkbox" style = "display: inline-block; width: 15px; vertical-align: top;" class="lang" name="languages" value="Cantonese"><span style = "display: inline-block; color: black;">Cantonese</span></input>
              <input type="checkbox" style = "display: inline-block; width: 15px; vertical-align: top;" class="lang" name="languages" value="Russian"><span style = "display: inline-block; color: black;">Russsian</span></input>
              <input type="checkbox" style = "display: inline-block; width: 15px; vertical-align: top;" class="lang" name="languages" value="French"><span style = "display: inline-block; color: black;">French</span><br></input>
              <input type="checkbox" style = "display: inline-block; width: 15px; vertical-align: top;" class="lang" name="languages" value="Japanese"><span style = "display: inline-block; color: black;">Japanese</span></input>
              <input type="checkbox" style = "display: inline-block; width: 15px; vertical-align: top;" class="lang" name="languages" value="Madarin"><span style = "display: inline-block; color: black;">Mandarin</span></input>
            </div>
            <div class="animated-button">
              <span class="icon-languageSelection-lock">
                <i class="fa fa-paper-plane">
                </i>
              </span>
              <span class="next-button languageSelection">
                <i class="fa fa-paper-plane">
                </i>
              </span>
            </div>
          </div>


          <div class="submit">
              <input type="submit" id="submitBtn" value="Submit">
          </div>
      </form>
  </div>
  <script
   src="https://code.jquery.com/jquery-3.1.1.min.js"
   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
   crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
 <script type="text/javascript" src="script.js"></script>

   <!-- JavaScript files for Bootstrap -->
   <!-- UNCOMMENT IF NEEDED -->
   <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

   <!-- underscoreJS Library -->
   <!-- <script src="../../lib/jquery.js"></script> -->
   <!-- <script type="text/javascript" src="../views/script.js"></script> -->
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
