<!DOCTYPE html>
<html>
   <head >
      <link rel="stylesheet" href="style.css">
      <title>School Finder</title>
   </head>

   <body style = "background-color: white; margin: 0px;">
     <div id="google_translate_element"></div>

     <script type="text/javascript">
     function googleTranslateElementInit() {
     new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
     }
     </script>

     <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
     <div class="topnav" style ="background-color: #333; overflow: hidden; font-family: Trebuchet MS;">
       <a style = "float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;" class="active" href="#home">Home</a>
       <a style = "float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;" href="#news">Community</a>
       <a style = "float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;" href="#contact">Sources</a>
       <a style = "float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;" href="#about">About</a>
     </div>
      <div id="myDiv" >
     <div class="content" style = "font-family: Trebuchet MS; bottom: 150; color: black; width: 100%; padding: 20px; position: absolute;">
       <h1 style = "padding-left: 330px; padding-top: 200px;">Welcome to San Francisco School Finder</h1>
       <p style="padding-left: 390px;">What's the best public school for you and your child? Let's find out!</p>
       <form name = "formBtn" action="/quiz" style = "padding-left: 520px; position: absolute;">
         <input type="submit" id="landingButton" value="Begin" ></input>
       </form>
     </div>
     <div>
       <img id = "img" style = "top: -1000; width: 100%; height: 100%;"
              src=  "images/bg.jpg">
      </div>
    </div>
   </body>
</html>
