<!DOCTYPE html>
<html>
   <head>
      <title>School Finder</title>
   </head>
   <body style = "background-color: white; margin: 0px;">
     <div class="topnav" style ="background-color: #333; overflow: hidden; font-family: Trebuchet MS;">
       <a style = "float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;" class="active" href="#home">Home</a>
       <a style = "float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;" href="#news">Community</a>
       <a style = "float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;" href="#contact">Sources</a>
       <a style = "float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;" href="#about">About</a>
     </div>
     <div class="content" style = "font-family: Trebuchet MS; width: 100%; padding-top: 100px; padding-left: 400px;">
       <h1 style = "padding-left: 120px">Welcome to SF School Finder</h1>
       <p>Struggling to find the best public school for your family? Take a 5 minute quiz and find the top 5 schools for you.</p>
       <form name = "formBtn" action="/quiz" style = "padding-left: 150px">
         <input type="submit" value="Click here to find schools for you" style = "font-weight: bold; width: 300px;font-size: 18px;padding: 10px; border: none; background: linear-gradient(darkblue, lightblue); color: black; cursor: pointer; border-radius: 5px"></input>
       </form>
     </div>
       <img id = "img" style = "position: fixed; right: 500px; bottom: 250px;"
       src = "http://cms.ichinesereader.com/wp-content/uploads/2016/03/San-Francisco-Unified-School-District.png">
   </body>
</html>
