<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each schools}}
      <div class="container">
        <img    />
        
      </div>
    {{/each}}
  </body>
</html>
